<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MMM/dd HH:mm:ss:SSS} %l %p:%m%n" />
		</layout>
	</appender>

<!--
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="debug"/>
		<param name="file" value="c:/Program Files/Apache Software Foundation/Tomcat 8.5/logs/PortableRIS.log" />
		<param name="append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MMM/dd HH:mm:ss:SSS} %p:%m%n" />
		</layout>
	</appender>
 -->

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="debug"/>
		<param name="file" value="c:/Program Files/Apache Software Foundation/Tomcat 8.5/logs/PortableRIS.log" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MMM/dd HH:mm:ss:SSS} %l %p:%m%n" />
		</layout>
	</appender>

	<!--
	  ログ出力対象のパッケージをnameに指定（現在はris配下すべて）
	  必要に応じてris.restなどと階層を指定する。
	  出力先は標準出力とログファイルに出力する定義にしている。
	-->
	<category name="ris">
		<priority value="trace" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</category>
</log4j:configuration>
