/* ====================
 iOS9 モーダル表示不具合対応
==================== */
body {
  padding-right: 0px !important
}
.modal-open {
  overflow-y: auto;
}

/* ====================
 共通
==================== */
body {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

/* 2020.09.02 Add Nishihara@COSMO start 町田市民病院PortableRIS改修対応 */
/* Bootstrap.csのtableタブのborder-collapseの指定がcollapse;になっていることで、
   線の表示が一部崩れるためseparate;に上書き */
.ordertable{
  border-collapse: separate;
}
/* 2020.09.02 Add Nishihara@COSMO end 町田市民病院PortableRIS改修対応 */

/* 色付きボタン */
button.colored {
  background-image: none;
}

/* アコーディオン 閉 */
.collapsed:before {
  content: "\e114" !important;
  font-family: "Glyphicons Halflings";
  padding-right: 4px;
}

/* アコーディオン 開 */
.accordion-toggle:before {
  content: "\e113";
  font-family: "Glyphicons Halflings";
  padding-right: 4px;
}

/* ====================
 ヘッダ部
==================== */
.header-row {
  height: 34px;
}

.logo-image {
    padding-top: 3px;
    max-width: 162px;
}

.modal-header > .logo-image {
    padding-top: 0px;
}

.login-user-name {
    padding-top: 7px;
}

/* ====================
 画面上部(一覧／詳細)
==================== */
.upside button {
  font-size: 16px;
}


/* ====================
 オーダ情報部
==================== */

/* オーダ情報枠 */
.order-info {
  table-layout: fixed;
  background-color: #FFFFFF;
  border-style: solid;
  font-size: 18px;
}

/* 列 */
.order-info .col-1 { width: 130px; }
.order-info .col-2 { width:  80px; }
.order-info .col-3 { width:  80px; }
.order-info .col-4 { width: 100px; }
.order-info .col-5 { width:  80px; }
.order-info .col-6 { width: 160px; }
.order-info .col-7 {               }

/* 行 */
.order-info .row-1 { height: 36px; }
.order-info .row-2 { height: 33px; }
.order-info .row-3 { height: 30px; }
.order-info .row-4 { height: 30px; }
.order-info .row-5 { height: 30px; }

/* キャプション */
.order-info .title {
  text-align: right;
  font-weight: bold;
  color: #376092;
}

/* ボタン */
.order-info button {
  font-size: 18px;
}

/* 受付/取消ボタン */
.order-info .uketuke {
  color: #ff0000 !important;
  width: 95px;
}

/* 2019.06.06 Add H.Watanabe@COSMO Start 熊本大学PortableRIS改造対応 */
/* 受付時MWMチェックボックス */
.order-info .receiptMWM {
  margin-left: 7px;
  position: relative;
  /* 2020.09.02 Add Nishihara@COSMO start MWMチェックボックスの配置位置変更 */
  right: 100px;
  bottom: 50px;
  /* 2020.09.02 Add Nishihara@COSMO end MWMチェックボックスの配置位置変更 */
}
/* 2019.06.06 Add H.Watanabe@COSMO End   熊本大学PortableRIS改造対応 */

/* 患者ID */
.order-info .kanja-id {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* ステータス */
.order-info .status {
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  margin: 0px 4px 0px 4px;
}

/* 患者漢字氏名 */
.order-info .kanjisimei {
  font-size: 24px;
  font-weight: bold;
}

/* 患者漢字氏名 */
.order-info .kanasimei {
  font-size: 16px;
  font-weight: bold;
}

/* 年齢 */
.order-info .kanja-age {
  font-size: 18px;
  font-weight: bold;
}

/* 2020.09.01 Add Nishihara@COSMO start 一覧画面のレイアウト変更  一括選択、一括解除、●MWMボタン追加 */

/* オーダーの中身の位置を変更する(画像以外) */
.order-info .position {
  position:relative;
  left:40px;
}

/* 一括選択ボタン */
.lump-selectbtn {
  margin-bottom: 10px;
  position: relative;
  left: 20px;
  width:140px;
  height:50px;
}

/* 一括解除ボタン */
.lump-cancellationbtn {
  margin-bottom: 10px;
  position: relative;
  left: 35px;
  width:140px;
  height:50px;
}

/* ●MWMボタン */
.mwm-startbtn {
  margin-bottom: 10px;
  position: relative;
  left: 65px;
  width:140px;
  height:50px;
  background-repeat:repeat-x;
  border-color:#ffa500;
  background-image:linear-gradient(to bottom,#ffd700 0,#ff8c00 100%);
  background-color:#ff8c00;
}

button.mwm-startbtn:hover {
  background-image:linear-gradient(to bottom,#ff8c00 0,#ffa500 100%);
}
/* 2020.09.01 Add Nishihara@COSMO end 一覧画面のレイアウト変更 ●受付、●MWMボタン追加 */
/* 2020.09.04 Add Nishihara@COSMO start 一覧画面のレイアウト変更 ●受付ボタン追加 */
/* ●受付ボタン */
.allukezumibtn {
  margin-bottom: 10px;
  position: relative;
  left: 50px;
  width:140px;
  height:50px;
  background-repeat:repeat-x;
  border-color:#ffa500;
  background-image:linear-gradient(to bottom,#ffd700 0,#ff8c00 100%);
  background-color:#ff8c00;
}

button.allukezumibtn:hover {
  background-image:linear-gradient(to bottom,#ff8c00 0,#ffa500 100%);
}
/* 2020.09.04 Add Nishihara@COSMO end 一覧画面のレイアウト変更 ●受付ボタン追加 */

/* ====================
 オーダ詳細
==================== */

/* 開始／完了ボタン */
button.status-progress, button.status-progress:hover {
  width: 90%;
  color: #ffffff;
  background-color: #f79646;
  border-color: #b66d31;
}

/* 枠色付きボタン */
button.border-colored {
  border-color: #b66d31;
}

/* コメント欄 */
.order-comment {
  padding: 10px;
}

.order-comment .lines{
  white-space: pre-wrap;
}

.accordion-heading {
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
}

/* 2020.09.14 Add Nishihara@COSMO start 詳細画面に実施者(担当技師)のプルダウンを３つ追加 */
.gishi1 {
  position: relative;
  left: 10px;
}

.gishi2 {
  position: relative;
  left: 75px;
}

.gishi3 {
  position: relative;
  left: 100px;
}
/* 2020.09.14 Add Nishihara@COSMO end 詳細画面に実施者(担当技師)のプルダウンを３つ追加 */